<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Site Metas -->
<title>โปรแกรมค้นหาคลินิกในจังหวัดพิษณุโลก</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="images/logos/logo-clinic.png" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/logos/logo-clinic.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="style.css">
<!-- Colors CSS -->
<link rel="stylesheet" href="css/colors.css">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" href="css/versions.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="css/custom.css">
<!-- LIFF -->
<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="seo_version">

    <!-- LOADER -->
    <!-- <div id="preloader">
		<div id="cupcake" class="box">
			<span class="letter">L</span>
			<div class="cupcakeCircle box">
				<div class="cupcakeInner box">
					<div class="cupcakeCore box"></div>
				</div>
			</div>
			<span class="letter box">A</span>
			<span class="letter box">D</span>
			<span class="letter box">I</span>
			<span class="letter box">N</span>
			<span class="letter box">G</span>
		</div>
	</div> -->
    <!-- END LOADER -->

    <header class="header header_style_01">
        <nav class="megamenu navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> -->
                    <a class="navbar-brand" href="index"><img src="images/logos/logo-clinic.png" alt="image"></a>
                </div>
                <!-- <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right menu-top">
                        <li><a class="active" href="clinic/boneClinic">Home</a></li>
                        <li><a href="about.html">About Us </a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="case-study.html">Case Study</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div> -->
            </div>
        </nav>

    </header>

    <svg id="clouds" class="hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="150"
        viewBox="0 0 85 100" preserveAspectRatio="none">
        <path d="M-5 100 Q 0 20 5 100 Z
            M0 100 Q 5 0 10 100
            M5 100 Q 10 30 15 100
            M10 100 Q 15 10 20 100
            M15 100 Q 20 30 25 100
            M20 100 Q 25 -10 30 100
            M25 100 Q 30 10 35 100
            M30 100 Q 35 30 40 100
            M35 100 Q 40 10 45 100
            M40 100 Q 45 50 50 100
            M45 100 Q 50 20 55 100
            M50 100 Q 55 40 60 100
            M55 100 Q 60 60 65 100
            M60 100 Q 65 50 70 100
            M65 100 Q 70 20 75 100
            M70 100 Q 75 45 80 100
            M75 100 Q 80 30 85 100
            M80 100 Q 85 20 90 100
            M85 100 Q 90 50 95 100
            M90 100 Q 95 25 100 100
            M95 100 Q 100 15 105 100 Z">
        </path>
    </svg>


    <div id="about" class="section wb">
        <div class="container">

            <div class="section-title text-center">
                <h3>ประเภทคลินิก</h3>
            </div><!-- end title -->

            <div class="seo-services row ">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="who">
                        <a href="clinic/generalClinic"><img src="images/icon/generalClinic.png" alt="icon"
                                class="wow fadeInUp responsive"></a>
                        <h5>คลินิกโรคทั่วไป</h5>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="who">
                        <a href="clinic/eyeClinic"><img src="images/icon/eyeClinic.png" alt="icon"
                                class="wow fadeInUp responsive"></a>
                        <h5>คลินิกตา</h5>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="who">
                        <a href="clinic/earNeckNoseClinic"><img src="images/icon/earNeckNoseClinic.png" alt="icon"
                                class="wow fadeInUp responsive"></a>
                        <h5>คลินิก หู คอ จมูก</h5>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="who">
                        <a href="clinic/boneClinic"><img src="images/icon/boneClinic.png" alt="icon"
                                class="wow fadeInUp responsive"></a>
                        <h5>คลินิกศัลยกรรมกระดูก</h5>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="who">
                        <a href="clinic/babyClinic"><img src="images/icon/babyClinic.png" alt="icon"
                                class="wow fadeInUp responsive"></a>
                        <h5>คลินิกเด็ก</h5>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="who">
                        <a href="clinic/dentistClinic"><img src="images/icon/dentistClinic.png" alt="icon"
                                class="wow fadeInUp responsive"></a>
                        <h5>คลินิกทันตกรรม</h5>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="who">
                        <a href="clinic/skinClinic"><img src="images/icon/skinClinic.png" alt="icon"
                                class="wow fadeInUp responsive"></a>
                        <h5>คลินิกผิวหนัง</h5>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="who">
                        <a href="clinic/otherClinic"><img src="images/icon/heartClinic.png" alt="icon"
                                class="wow fadeInUp responsive"></a>
                        <h5>คลินิกอื่น ๆ</h5>
                    </div>
                </div><!-- end col -->

            </div><!-- end how-its-work -->

        </div><!-- end container -->
    </div><!-- end section -->

    <div id="case" class="section lb">
        <div class="container">
            <div class="section-title-clinic text-center">
                <h2>คลินิกโรคทั่วไป</h2>
            </div><!-- end title -->

            <div class="owl-screenshots owl-carousel owl-theme text-center">
                {{#generalClinic}}
                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <a href="{{socialdata.link}}" class="hoverbutton global-radius"><i
                                    class="fa fa-facebook-official"></i></a>
                            <img src="{{socialdata.profile}}" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>{{clinic}}</h3>
                        <small>{{socialdata.about}}</small>
                    </div><!-- end service -->
                </div><!-- end col -->
                {{/generalClinic}}
            </div><!-- end owl -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="case" class="section wb">
        <div class="container">
            <div class="section-title-clinic text-center">
                <h2>คลินิกตา</h2>
            </div><!-- end title -->

            <div class="owl-screenshots owl-carousel owl-theme text-center">
                {{#eyeClinic}}
                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <a href="{{socialdata.link}}" class="hoverbutton global-radius"><i
                                    class="fa fa-facebook-official"></i></a>
                            <img src="{{socialdata.profile}}" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>{{clinic}}</h3>
                        <small>{{socialdata.about}}</small>
                    </div><!-- end service -->
                </div><!-- end col -->
                {{/eyeClinic}}
            </div><!-- end owl -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="case" class="section lb">
        <div class="container">
            <div class="section-title-clinic text-center">
                <h2>คลินิก หู คอ จมูก</h2>
            </div><!-- end title -->

            <div class="owl-screenshots owl-carousel owl-theme text-center">
                {{#earNeckNoseClinic}}
                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <a href="{{socialdata.link}}" class="hoverbutton global-radius"><i
                                    class="fa fa-facebook-official"></i></a>
                            <img src="{{socialdata.profile}}" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>{{clinic}}</h3>
                        <small>{{socialdata.about}}</small>
                    </div><!-- end service -->
                </div><!-- end col -->
                {{/earNeckNoseClinic}}
            </div><!-- end owl -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="case" class="section wb">
        <div class="container">
            <div class="section-title-clinic text-center">
                <h2>คลินิกศัลยกรรมและกระดูก</h2>
            </div><!-- end title -->

            <div class="owl-screenshots owl-carousel owl-theme text-center">
                {{#boneClinic}}
                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <a href="{{socialdata.link}}" class="hoverbutton global-radius"><i
                                    class="fa fa-facebook-official"></i></a>
                            <img src="{{socialdata.profile}}" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>{{clinic}}</h3>
                        <small>{{socialdata.about}}</small>
                    </div><!-- end service -->
                </div><!-- end col -->
                {{/boneClinic}}
            </div><!-- end owl -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="case" class="section lb">
        <div class="container">
            <div class="section-title-clinic text-center">
                <h2>คลินิกเด็ก</h2>
            </div><!-- end title -->

            <div class="owl-screenshots owl-carousel owl-theme text-center">
                {{#babyClinic}}
                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <a href="{{socialdata.link}}" class="hoverbutton global-radius"><i
                                    class="fa fa-facebook-official"></i></a>
                            <img src="{{socialdata.profile}}" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>{{clinic}}</h3>
                        <small>{{socialdata.about}}</small>
                    </div><!-- end service -->
                </div><!-- end col -->
                {{/babyClinic}}
            </div><!-- end owl -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="case" class="section wb">
        <div class="container">
            <div class="section-title-clinic text-center">
                <h2>คลินิกทันตกรรม</h2>
            </div><!-- end title -->

            <div class="owl-screenshots owl-carousel owl-theme text-center">
                {{#dentistClinic}}
                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <a href="{{socialdata.link}}" class="hoverbutton global-radius"><i
                                    class="fa fa-facebook-official"></i></a>
                            <img src="{{socialdata.profile}}" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>{{clinic}}</h3>
                        <small>{{socialdata.about}}</small>
                    </div><!-- end service -->
                </div><!-- end col -->
                {{/dentistClinic}}
            </div><!-- end owl -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="case" class="section lb">
        <div class="container">
            <div class="section-title-clinic text-center">
                <h2>คลินิกผิวหนัง</h2>
            </div><!-- end title -->

            <div class="owl-screenshots owl-carousel owl-theme text-center">
                {{#skinClinic}}
                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <a href="{{socialdata.link}}" class="hoverbutton global-radius"><i
                                    class="fa fa-facebook-official"></i></a>
                            <img src="{{socialdata.profile}}" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>{{clinic}}</h3>
                        <small>{{socialdata.about}}</small>
                    </div><!-- end service -->
                </div><!-- end col -->
                {{/skinClinic}}
            </div><!-- end owl -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="case" class="section wb">
        <div class="container">
            <div class="section-title-clinic text-center">
                <h2>คลินิกอื่น ๆ</h2>
            </div><!-- end title -->

            <div class="owl-screenshots owl-carousel owl-theme text-center">
                {{#otherClinic}}
                <div class="owl-screen">
                    <div class="service-widget">
                        <div class="post-media entry wow fadeIn">
                            <a href="{{socialdata.link}}" class="hoverbutton global-radius"><i
                                    class="fa fa-facebook-official"></i></a>
                            <img src="{{socialdata.profile}}" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                        </div>

                        <h3>{{clinic}}</h3>
                        <small>{{socialdata.about}}</small>
                    </div><!-- end service -->
                </div><!-- end col -->
                {{/otherClinic}}
            </div><!-- end owl -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="section-title text-center">
        <button id="sendmessagebutton">ขอ API ข้อมูลคลินิก</button>
    </div><!-- end title -->

    <script>
        document.getElementById('sendmessagebutton').addEventListener('click', function () {
            liff.sendMessages([{
                type: 'text',
                text: "ขอ API"
            }, {
                type: 'sticker',
                packageId: '11537',
                stickerId: '52002735'
            }]).then(function () {
                window.alert("Message sent");
            }).catch(function (error) {
                window.alert("Error sending message: " + error);
            });
        });
    </script>


    <section class="section nopad cac text-center">
        <a href="#">
            <h3>คลินิกทั้งหมดในจังหวัดพิษณุโลก</h3>
        </a>
    </section>

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>

</body>

</html>